@{
    ViewBag.Title = "Home Page";
}

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="align-content: center">
    <tbody>
        <tr>
            <td width="762" class="abodytext" style="padding: 150px">
                <h1>GIỚI THIỆU</h1>
                <p><strong>Cửa hàng Vệ sinh giày được thành lập vào năm 2023 &nbsp;&nbsp;</strong></p>
                <p>
                    &nbsp;Hiện tại có mặt ở Thành phố Hồ Chí Minh<br>

                    &nbsp;&nbsp;&nbsp;Bạn yêu đôi giày của mình đến mức nào? Chúng tôi chắc chắn rằng bạn làm được ngoài sức
                    tưởng tượng, đặc biệt nếu bạn là một người năng động. Thật không may, đôi giày của bạn sẽ bị bẩn và điều đó
                    có nghĩa là chúng sẽ không còn trông như mới nữa. Để giữ cho đôi giày thể thao của bạn luôn trong tình trạng
                    tốt như vậy, bạn không thể để chúng ngoài trời mưa. Bạn cần phải làm sạch chúng.<br>

                    &nbsp;&nbsp;&nbsp;Và đó là nơi chúng tôi đến. Giữ cho những cú đá của bạn luôn mới với MONO Supre! Dịch vụ
                    vệ sinh và sửa chữa của chúng tôi mang đến giải pháp tiện lợi và đáng tin cậy để giữ cho giày của bạn luôn
                    mới đồng thời kéo dài tuổi thọ của chúng. Bạn có thể nói lời tạm biệt với những đôi giày bẩn với giá cả cạnh
                    tranh và dịch vụ nhận và giao hàng miễn phí hàng tuần tại MONO Super<br>

                    &nbsp;&nbsp;&nbsp;<br>
                    <br>
                </p>
            </td>
            <td width="4" class="abodytext">&nbsp;</td>
            <td width="581" style="padding: 50px"><img src="~/Content/img/abc.jpg" width="559" height="450" alt="" /></td>
        </tr>
    </tbody>
</table>
<hr>
<h2 class="text-center">CÁC DỊCH VỤ</h2>
<hr>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <img class="card-img-top" src="~/Content/img/1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Phục hồi giày</h5>
                    <p class="card-text">
                        Phục hồi các vết trầy xước, bong tróc hay lão hóa da giày. Cứu cánh cho giày bị ố vàng,
                        bạc màu, bong tróc logo... Mang đến diện mạo mới cho đôi giày của bạn.
                    </p>
                    <a href="#" class="btn btn-primary">Xem Thêm</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <img class="card-img-top" src="~/Content/img/2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vệ Sinh - Bảo Dưỡng</h5>
                    <p class="card-text">
                        Làm sạch các vết dơ, bụi bẩn kể cả ẩm mốc bên trong giày hoàn toàn bằng tay. Sử dụng
                        dung dịch vệ sinh và bàn chải chuyên dụng cùng công nghệ sấy phơi hiện đại.
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <img class="card-img-top" src="~/Content/img/3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bảo vệ giày</h5>
                    <p class="card-text">
                        Bảo vệ thân và đế giày khỏi bụi bẩn, nước mưa, nấm mốc hay bị oxy hóa. Gia tăng tuổi
                        thọ, độ bền cho giày. Bảo vệ bạn không bị té ngã vì đế giày trơn trượt.
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center mt-4">
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <img class="card-img-top" src="~/Content/img/4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sửa chữa giày</h5>
                    <p class="card-text">
                        Sửa chữa các vấn đề như rách thân, hở keo, hư đế, chỉnh size và những lỗi khác theo yêu
                        cầu. Giúp khắc phục mọi hư tổn, mang lại vẻ đẹp thẩm mỹ cho giày.

                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
                <img class="card-img-top" src="~/Content/img/5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Custom giày</h5>
                    <p class="card-text">
                        Custom theo yêu cầu thể hiện cá tính của riêng bạn qua đôi giày. Thực hiện thủ công
                        100% với màu vẽ Angelus chuyên dụng cho từng chất liệu.
                    </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>